<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.phone_field :phone, id: :customer_phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :customer_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :blacklist %>
    <%= form.check_box :blacklist, id: :customer_blacklist, class: 'form-check' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
