<div class="container">
  <% if notice %>
      <div class="alert alert-primary">
        <p id="notice"><%= notice %></p>
      </div>
  <% end %>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>Blacklist:</strong>
  <%= @customer.blacklist %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
</div>
